<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vdian.android.lib.testforgradle" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".surface.SurfaceNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".surface.SurfaceTestActivity"
            android:exported="false" />
        <activity
            android:name=".surface.CameraTextureActivity"
            android:exported="false" />
        <activity
            android:name=".surface.CameraSurfaceViewShowActivity"
            android:exported="false" /> <!-- 不加这一行,屏幕旋转是默认 ac+fragment都会重建 -->
        <!-- android:configChanges="orientation|screenSize" -->
        <activity
            android:name=".rotate.RotateTestActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <service
            android:name=".backsentry.BackgroundReStartService"
            android:enabled="true"
            android:exported="true"
            android:persistent="true" />
        <service
            android:name=".backsentry.BackgroundReStartRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":background_sentry" />

        <activity
            android:name=".activityResult.lauchmodel.TestSingleTaskActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".activityResult.lauchmodel.TestStandardActivity" />
        <activity
            android:name=".datastore.TestDataStoreActivity"
            android:exported="false" />
        <activity
            android:name=".pageing3.PagingTestActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomTestActivity"
            android:exported="false" />
        <activity
            android:name=".workmanager.WorkManagerTestActivity"
            android:exported="false" />
        <activity
            android:name=".viewBinding.TestViewBindingActivity"
            android:exported="false" />
        <activity
            android:name=".dataBinding.TestDateBindingActivity"
            android:exported="false" />
        <activity
            android:name=".location.LocationTestActivity"
            android:exported="true" />
        <activity
            android:name=".ktl.coroutines.TestCoroutinesActivity"
            android:exported="true" />
        <activity
            android:name=".generic.GenericTestActivity"
            android:exported="true" />
        <activity
            android:name=".rom.RomCheckActivity"
            android:exported="true" />
        <activity android:name=".thread_dump.TestThreadDumpActivity" />
        <activity android:name=".binder.RemoteTestActivity" />
        <activity android:name=".thread.TestThreadActivity" />
        <activity android:name=".self_view.SelfViewActivity" />
        <activity android:name=".touch.TestTouchActivity" />
        <activity android:name=".applink.AppLinkTestDomainActivity" />
        <activity android:name=".testleak.TestLeak1Activity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".applink.AppLinkActivity"
            android:exported="true" >

            <!-- 这个必须要有 -->
            <tools:validation testUrl="https://example.test.com" />

            <intent-filter android:autoVerify="true" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.test.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activityResult.TestDActivity" />
        <activity
            android:name=".activityResult.TestBActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/wdb_ui_Theme.AppCompat.Translucent.NoAnimation"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="wdb" />
                <data android:path="/flutter" />
                <data android:scheme="weidianbuyer" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityResult.TestCActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/wdb_ui_Theme.AppCompat.Translucent.NoAnimation"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="wdb" />
                <data android:path="/flutterTrans" />
                <data android:scheme="weidianbuyer" />
            </intent-filter>
        </activity>
        <activity android:name=".window_toast.TestWindowToastActivity" />
        <activity android:name=".launch_app.LaunchOtherAppActivity" />
        <activity android:name=".oomDemo.OomDemoActivity" />

        <service
            android:name=".binder.IComputerService"
            android:process=":remote" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge" >
            <meta-data
                android:name="com.vdian.android.lib.testforgradle.start_up.CustomInitializer"
                android:value="androidx.startup" />

            <!-- 这么写可以规避自动初始化 -->
            <!-- <meta-data -->
            <!-- android:name="com.vdian.android.lib.testforgradle.start_up.CustomInitializer" -->
            <!-- android:value="androidx.startup" -->
            <!-- tools:node="remove" -->
            <!-- /> -->
        </provider>
    </application>

</manifest>